[data-rem-tags~="kindlepink"] > div > span > div.rem-text{
background:#FFC2F5 !important;
}
[data-rem-tags~="kindleyellow"] > div > span > div.rem-text{
background:#F2E366 !important;
}
[data-rem-tags~="kindleorange"] > div > span > div.rem-text{
background:#FCB85E !important;
}
[data-rem-tags~="kindleblue"] > div > span > div.rem-text{
background:#a5d7f4 !important;
}
[data-rem-tags~="ibookyellow"] > div > span > div.rem-text{
background:#FEEB6B !important;
}
[data-rem-tags~="ibookgreen"] > div > span > div.rem-text{
background:#C1ED72 !important;
}
[data-rem-tags~="ibookblue"] > div > span > div.rem-text{
background:#ADD9FF !important;
}
[data-rem-tags~="ibookpink"] > div > span > div.rem-text{
background:#FFB1CB !important;
}
[data-rem-tags~="ibookpurple"] > div > span > div.rem-text{
background:#D8B2FF !important;
}
[data-rem-tags~="ibookunderline"] > div > span > div.rem-text{
text-decoration: underline;
    text-decoration-color: #FF0C0C;
}
[data-rem-tags~="kindlepage"] > div > span > div.rem-text{
font-size: 22px;
    font-weight: bold;
}
[data-rem-container-tags~="kindlepage"]{
margin-top: 20px;
    box-shadow: #6b7883 0px 0px 1px;
    padding: 5px;
    border-radius: 5px;
}
